@use "./variables" as *;

%titles {
  text-align: center;
  color: $titles-color;
  font-size: 36px;
  letter-spacing: 0.03em;
  font-weight: 700;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  %titles {
    font-size: 28px;
    padding-bottom: 30px;
  }
}