@use '../utils/variables' as *;

.advertisements {
  padding-bottom: 94px;

  &__container {
    display: flex;
    margin: 0 auto;
  }

&__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

&__item {
  background: #fff;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  overflow: hidden;
  transition: border-color .25s ease, box-shadow .25s ease;
  text-align: start;

  flex-basis: calc((100% - 60px) / 3); 
  max-width: 370px;                    


    &:hover {
      border-color: transparent;
      box-shadow: 0 2px 6px rgba(0,0,0,.08), 0 12px 24px rgba(0,0,0,.06);
    }
  }

  &__link {

  }

  &__thumb {
    position: relative;     // ТУТ прив’язуємо overlay
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: 294px;          // як у макеті
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;               // top/right/bottom/left: 0
    margin: 0;
    padding: 20px 24px;
    background: rgba(33,150,243,.9);
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .03em;
    transform: translateY(100%);
    transition: transform .25s ease;
    pointer-events: none;
    z-index: 1;
  }

  &__title {
    margin: 20px 24px 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: #2e2f42;
    text-transform: none;
    overflow: hidden;
    white-space: nowrap;      
  }

  &__subtitle {
    margin: 0 24px 20px;
    font-size: 16px;
    color: #434455;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.vsi {
  padding: 10px 25px;
}